<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.isikbook">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Book2Activity"  android:parentActivityName=".KitapActivity"></activity>
        <activity android:name=".Book1Activity" android:parentActivityName=".KitapActivity" />
        <activity android:name=".SiparisActivity" android:parentActivityName=".KitapActivity" />
        <activity
            android:name=".SifreAyarlariActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".HesapAyarlariActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".AccountActivity" />
        <activity android:name=".AnaekranActivity" />
        <activity
            android:name=".MenuActivity"
            android:parentActivityName=".AnaekranActivity" />
        <activity
            android:name=".KameraActivity"
            android:exported="true"
            android:parentActivityName=".AnaekranActivity" />
        <activity
            android:name=".AccountActivity"
            android:parentActivityName=".AnaekranActivity" />
        <activity
            android:name=".KitapActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".BildirimActivity"
            android:parentActivityName=".AnaekranActivity" />
        <activity
            android:name=".NewAccountActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>